.d{
    display: flex;
}
i{
    color: blue;
    font-size: 20px;
}
.menu{
    display: flex;
    font-size: 20px;
    word-spacing: 5px;
    margin-left: 800px;
    margin-top: -50px;
    justify-content: space-around;
}
.home{
    color: greenyellow;
}
.upgrade{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqLGxlGniEXNFPDkV2uFrMMNcuh3bRXvYsDQ&s);
    background-repeat: no-repeat;
    background-size:cover ;
    height: 650px;
    width: 1900px;
}
.up{
    display: flex;
    margin-left: 500px;
}
.b2{
color: white;
font-size: 70px;
}
.your{
color: white;
font-size: 70px;
}
.busines{
color: white;
font-size: 70px;
}
.lorem{
    color: white;
    width: 600px;
    margin-left: 500px;
}
button{
background-color: greenyellow;
margin-left: 500px;
height: 90px;
width: 400px;
}
.j1{
    display: flex;
    justify-content: space-around;
}
.llorem{
    width: 200px;
}
.lllorem{
    width: 200px;
}
.llllorem{
    width: 200px;
}
